<!DOCTYPE html>
<html lang="pt-br">

<head>

    <meta http-equiv="content-language" content="pt-br" />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="{{ page.meta_description }}" />
    <meta name="keywords" content="{{ page.keywords }}">

	  <link href="/static/img/favicon.png" rel="shortcut icon" />

    <!-- <link type="text/css" href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen" /> -->
    <link rel="stylesheet" href="fancybox/source/jquery.fancybox.css" type="text/css" media="screen" />
    <link type="text/css" href="assets/css/default.css" rel="stylesheet" media="screen, projection" />
    <link rel="icon" type="image/png" href="/favicon.png" />

    <title>{{ page.title }}</title>

    <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

</head>

<body>

	<div id="page">

		<header>

			<h1>
				<a href="/">
					Horse Jiu-Jitsu Team
				</a>
			</h1>

            <!--
			<div id="infos">

				<ul>
					<li id="phone">
						Informações:<br />
						(43) <strong>3336.5848</strong>
					</li>
					<li id="mail">
						Email:<br />
						contato@irongymnasium.com.br
					</li>
				</ul>

			</div>
            -->

			<div id="infos2"></div>

			<nav>
				<ul>
					<li><a class="{{ page.menu_contato }}" href="/contato.html">Contato</a></li>
					<li><a class="{{ page.menu_health }}" href="/iron-health.html">Iron Health</a></li>
					<li><a class="{{ page.menu_fight }}" href="/iron-fight.html">Iron Fight</a></li>
					<li><a class="{{ page.menu_gym }}" href="/iron-gym.html">Iron Gym</a></li>
					<li><a class="{{ page.menu_home }}" href="/">Home</a></li>
	       </ul>
			</nav>

		</header> <!-- /header -->

    {{ content }}

    <div id="ft-content">

	<div id="col-01">

    <h4>IronGymnasium</h4>

		<p>
			<a href="#">contato@irongymnasium.com.br</a><br />
			Av. Higienópolis, 1405 • Londrina, PR.
		</p>

		<ul id="social">
      <!-- <li id="media-01">
        <a href="https://www.facebook.com/IronGymnasium" target="_blank">Facebook</a>
      </li> -->
      <!-- <li id="media-02">
        <a href="https://twitter.com/IronGymnasium" target="_blank">Twitter</a>
      </li> -->
			<li id="media-03">
				<a href="https://twitter.com/IronGymnasium" target="_blank">
          <img class="twitter" src="/static/img/social-twitter-bird-light-bgs.png" height="40" />
        </a>
			</li>
			<li id="media-03">
				<a href="https://www.facebook.com/IronGymnasium" target="_blank">
          <img src="/static/img/social-facebook-logo.png" height="20" />
        </a>
			</li>

    </ul>

	</div> <!-- /col-01 -->

	<div id="col-02">

      	<h4>Ligue agora: <strong>(43) 3336.5848</strong></h4>

		<p>De segunda à sexta das 06h às 00h e sábados das 06h às 18h.</p>

	</div> <!-- /col-02 -->

	<div id="col-03">

		<a href="/body-systems.html">
			Body Systems
		</a>

	</div> <!-- /col-03 -->

  </div> <!-- /ft-content -->

    <div id="footer">

		<ul>
			<li><a href="/index.html">Home</a></li>
			<li><a href="/iron-gym.html">Iron Gym</a></li>
			<li><a href="/iron-fight.html">Iron Fight</a></li>
			<li><a href="/iron-health.html">Iron Health</a></li>
			<li><a href="/contato.html">Contato</a></li>
	  	</ul>
	    <p>&copy; 2014 Horse Jiu-Jitsu Team.</p>

    </div> <!-- /footer -->

</div> <!-- /page -->

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
<script type="text/javascript" src="bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="fancybox/lib/jquery.mousewheel-3.0.6.pack.js"></script>
<script type="text/javascript" src="/fancybox/source/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="static/js/iron.js"></script>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));
</script>

</body>

</html>